// body {
//   background-color: red;
// }
@import '~bootstrap/scss/bootstrap';

@import "~vue-material/dist/vue-material";


// vue material theme customization
@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary: #63666a, // The primary color of your application
  accent: #00a3ad // The accent or secondary color
));

@import "~vue-material/dist/theme/all"; // Apply the theme

.md-active {
  border-style: solid;
  border-width: 2px;
  border-color: #63666a;
}
